body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#navbar {
  padding: 20px;
  background-color: rgb(13, 110, 253);
}

#navbar a {
  font-size: 24px;
  font-weight: bold;
  color: white;
  padding: 5px 35px;
  letter-spacing: .2rem;
}

#navbar a:hover {
  color: blue
}

#text-center {
  text-align: center;
}

#header-welcome {
 font-size: 60px;
 color: white;
 font-weight: bold;
 letter-spacing: .4rem;
}

#header-group {
font-size: 59px;
color: white;
letter-spacing: .3rem;

}

#header {
  /* height: 500px; */
  background-color: black;
  height: auto;
}

#card-body {
  width: 50%;
  /* margin-top: 150px; */
  margin: 125px auto
}