body,
html {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#navbar {
  padding: 20px;
  background-color: rgb(13, 110, 253);
  width: 100%;
}

#navbar a {
  font-size: 24px;
  font-weight: bold;
  color: white;
  padding: 5px 35px;
  letter-spacing: 0.2rem;
  text-decoration: none;
}

#navbar a:hover {
  color: blue;
}

#text-center {
  text-align: center;
}

#header-welcome {
  font-size: 40px;
  color: white;
  font-weight: bold;
  letter-spacing: 0.4rem;
  text-shadow: 0 0 3px #ff0000, 0 0 5px #0000ff;

  /* transition-property: opacity, left, top, height; */
  /* transition-duration: 3s, 5s; */
  /* z-index: ; */
  /* position: absolute; */
}

#navbar #brand-logo {
  color: white;
}

#header-group {
  font-size: 79px;
  color: white;
  letter-spacing: 0.3rem;
  z-index: 0;
  font-weight: bold;
  text-shadow: 0 0 10px #ff0000, 0 0 10px #0000ff;
}

#header {
  height: 740px;
  background: rgb(0, 0, 0);
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 60%,
    rgba(19, 0, 255, 1) 100%
  );
  border-radius: 0%;
}

#card-body {
  width: 50%;
  /* margin-top: 150px; */
  margin: 125px auto;
  z-index: 5;
  position: relative;
  padding-top: 25px;
}

/* Images */

#first-image {
  width: 59rem;
  position: absolute;
  z-index: 4;
  margin-top: 90px;
  right: 10%;
  margin-top: 20px;
}

#second-image {
  width: 30rem;
  position: absolute;
  z-index: 4;
  margin-top: 20px;
  left: 11%;
  border-radius: 25%;
}

#third-image {
  width: 14rem;
  position: absolute;
  z-index: 3;
  margin-top: 20px;
  left: 22%;
  border-radius: 25%;
}

#fourth-image {
  width: 23rem;
  position: absolute;
  z-index: 4;
  margin-top: 14rem;
  left: 31%;
  border-radius: 10%;
}

#fifth-image {
  width: 14rem;
  position: absolute;
  z-index: 2;
  margin-top: 5rem;
  left: 32%;
  border-radius: 25%;
}

#sixth-image {
  width: 14rem;
  position: absolute;
  z-index: 5;
  margin-top: 23.6rem;
  right: 28%;
}

/* Individual Video component */

#video iframe {
  width: 100%;
  height: 290px;
  /* border-radius: 5%; */
}

#video {
  width: 95%;
  margin: 0 auto;
  padding: 15px 5px;
}

#video h3 {
  text-align: center;
}

#video figcaption {
  text-align: right;
}

#videos-heading {
  text-align: center;
  padding: 25px 10px 10px;
  letter-spacing: 0.05rem;
  font-weight: bold;
}

#videos-section {
  padding: 1.5rem;
  margin-left: 10rem;
  margin-right: 10rem;
}

#videos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/* Our Mission Component */

#img-div {
  background-color: white;
  /* margin: 0 auto; */
  width: auto;
}

#mission {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

/* #img-div img {
  width: 500rem;
  height: 500rem;
} */

/* Navbar Component if link is selected */

.selected {
  color: blue;
}

/* Do the same thing as the categories lab with a ternary expression. If the category is seleted, then add the classname to be selected, else empty string */

/* Footer Section */

#footer-section .card {
  padding: 8px 20px;
  background-color: rgb(13, 110, 253);
  width: 25%;
  color: white;
  border-radius: 0%;
  text-align: center;
  height: 12rem;
  float: "left";
  border: "none";
}

/* #footer-section {
  padding-bottom: 0;
} */

#footer-section a {
  color: white;
  text-decoration: none;
  display: block;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 0.08rem;
  /* width: 70%; */
  /* margin: 0 auto; */
}

#footer-section a:hover {
  color: blue;
}

#footer-logo {
  color: white;
  padding: 0;
}

#carousel {
  background-color: black;
  padding: 10px 10rem 20px;
}

#ind-img-carousel {
  width: 88%;
  margin: 0 auto;
  padding: 20px 10px 50px;
}

#img-center {
  text-align: center;
}
